<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Клиенты</title>
</head>

<body>
<h4>Создать нового клиента</h4>
<form method="POST" th:action="@{/client/save}">
    <input type="text" name="clientNameTextBox" value="Ekaterina" placeholder="Введите имя клиента" th:field="*{name}">
    <input type="text" name="clientAddressTextBox" value="Moscow" placeholder="Введите адрес клиента" th:field="*{address}">
    <input type="text" name="clientPhoneTextBox" value="333" placeholder="Введите телефон клиента" th:field="*{phone}">
    <input type="submit" value="Создать">
</form>

<h4>Список клиентов</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Адрес</td>
        <td style="width: 100px">Телефон</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}">Id</td>
        <td th:text="${client.name}">Имя</td>
        <td>
            <span th:if="${client.address != null}" th:text="${client.address.street}">Нет адреса</span>
            <span th:unless="${client.address != null}">Нет адреса</span>
        </td>
        <td>
            <span th:each="phone : ${client.phones}" th:text="${phone.number} + (phone.hasNext() ? ', ' : '')">Нет телефона</span>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(clients)}">
        <td colspan="4">Клиентов не найдено</td>
    </tr>
    </tbody>
</table>
</body>
</html>
